.botonAgregarBonos{
    margin-right: 0.8em;
    margin-bottom: 0.4em;
}

.botonEliminarBonos{
    margin-left: 0.8em;
    margin-bottom: 0.4em;
}

.labelNombreUsuario{
    font-size: 1.7em;
}

.datosUsuarioCard{
    margin-bottom: 10px;
}