.loginContent{

    display: flex!important;
    align-content: center!important;
    align-items: center!important;
    background-color: #f4f9f4;
}

#usuarioLogin{
   
    border-radius: 5px;
    margin-bottom: 10px;
    
}

#claveLogin{
   
    border-radius: 5px;
}
#imgLogin{
    height: 120px;

}

#botonLogin{
    background-color: #8aae92;

    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;

    box-shadow: none;
}


