#franjaUser{
    background-color: #c4e3cb;
    color: black;
    margin-top: 5px;
   // border-radius: 10px;
}

#franjaUser img{
    height: 60px;
}
.userDataNombre{
    font-size: 1.5em;
    color: black;
}
.userDataTelefono{
    font-size: 1.1em;
    color: black;
}


.item-md.item-block .item-inner {
    border-color: transparent;
  }
  .item-ios.item-block .item-inner {
    border-color: transparent;
  }